body {
   margin: 15px;
}

.columns {
   display: flex;
   align-items: center;
   visibility: hidden;
}

.columns img {
   height: 60px;
}

.columns img:hover {
   height: 60px;
   cursor: pointer;
}

