body {
   margin: 15px;
}

.league {
   align-items: center;
   justify-content: center;
   height: 95px;
}

.columns {
   display: flex;
   align-items: center;
   visibility: hidden;
}

.columns img {
   height: 60px;
}

.columns img:hover {
   height: 70px;
   cursor: pointer;
}

.columns img:active {
   height: 60px;
   cursor: pointer;
}

.button {
   /*margin-right: 5px; */
}

.control {
   display: flex;
   align-items: center;
   justify-content: center;
}

.rpButton {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 40px;
   width: 200px;
}

.deleteButton {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 40px;
   width: 200px;
}

