body{
   padding-top: 54px;
   position: relative;
   min-height: 100vh;
   padding-bottom: 120px;
   max-width: 100vw;
}

@media(min-width: 992px){
   body{
      padding-top: 56px;
      position: relative;
      min-height: 100vh;
      padding-bottom: 120px;
   }
}

.img-thumbnail {
   width: 200px;
   height: 200px;
}

#footer {
   width: 100%;
   position: absolute;
   bottom: 0px;
}

#carouselExampleIndicators {
   background-color: white;
   height: 600px;
   max-width: 50vw;
}

.carousel-inner {
   height: 100%;
}

.carousel-caption {
   color: black;
}

.carousel-caption {
   position: relative;
   left: auto;
   right: auto;
}

.carousel-control-prev-icon {
   background-image: url(../icons/package/build/svg/chevron-left.svg);
   background-size: 100%;
}
.carousel-control-next-icon {
   background-image: url(../icons/package/build/svg/chevron-right.svg);
   background-size: 100%; 
}

.carousel-control-prev {
   background-color: white;
   margin-left: -140px;
   width: 130px;
}
.carousel-control-next {
   background-color: white;
   margin-right: -140px;
   width: 130px;
}

.gallery-img {
   width: 250px;
   height: 250px;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background-color: lightgray;
   display: inline-block;
   border: 1px dashed grey;
   border-radius: 3px;
}

#content-container a {
   text-align: center;
}

.card {
   border-style: none;
   margin: auto;
}

h5 {
   font-family: "Arial Black", serif;
}

address, p {
   font-family: serif;
}

