$desktop: 992px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  padding-top: 54px;

  @include desktop {
    padding-top: 56px;
  }
}

.nav-link {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: all 0.3s;
  text-decoration: none;
}

.nav-link:hover {
  background-size: 100% 2px;
}

#about-me {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#selfie {
  display: block;
  border-radius: 50%;
}

#about-me-description {
  display: flex;
  text-align: center;
  font-size: 20px;
}

#about-me {
  height: 100vh;
}

.row {
  opacity: 0;
}

.row.in-view {
  transition: opacity 1s;
  opacity: 1;
}

#contact {
  height: 80vh;
  h1 {
    margin-bottom: 150px;
  }
}

#about-me > h1,
#my-projects > h1,
#contact > h1 {
  text-align: center;
}

#my-projects > h1 {
  margin-bottom: 50px;
}

#social-media {
  list-style: none;
  text-align: center;
  padding-left: 0;
  li {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.pagination {
  margin-bottom: 15px;
}
